<div class="home-layout">
  <div class="navigation">
    <h2>Angle Os</h2>
    <ul class="menu clear">
      <li nz-dropdown [nzDropdownMenu]="menu">首页</li>
      <li>系统</li>
      <li>资料</li>
      <li>案例</li>
      <li>联系</li>
    </ul>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item>GIT操纵</li>
        <li nz-menu-item>国际化</li>
        <li nz-menu-item>拦截器</li>
        <li nz-menu-item nzDanger>mock使用</li>
      </ul>
    </nz-dropdown-menu>
    <div class="user-info">
      admin
    </div>
  </div>
  
  <div class="home-content">
      <div class="introduction-info">
          <div class="product">
              从源头到终端
          </div>
          <div class="product">
              从品味到品质
          </div>
          <p class="wisdom">
              因为年轻我们一无所有，也正因为年轻我们将拥有一切。
          </p>
          <button nz-button nzType="primary" (click)="onSystem($event)">
            立即开始
          </button>


      </div>
      <div class="content-image">
          <img src="/assets/images/home.png" />
      </div>
      <div class="remark">
          鸣谢：本项目由谢狗蛋支持完成。
      </div>
  </div>
</div>
