<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-content>
      <section id="angel-home"> 
        <div class="content inner-content">
          <h1 class="title">Angel Os</h1>
          <p>综合管理平台</p>
          <hr>
          <p>欢迎来到Angel Os综合管理系统～</p>
          <ul>
            <li> <span (click)="onSystem($event)">系统主页</span></li>
            <li> <span>学习资源</span></li>
            <li><span>技术支持</span></li>
            <li> <span href="#">关于我</span></li>
          </ul>
        </div>
      </section>
  </nz-content>
</nz-layout>

