<nz-layout class="layout">

  <nz-header class="clear">
    <div class="logo">
      Angle Os
    </div>
    <ul class="nav-menu clear">
      <li>系统</li>
      <li nz-dropdown [nzDropdownMenu]="menu">
        资料
      </li>
      <li  nz-dropdown [nzDropdownMenu]="support">支持</li>
      <li>
        <nz-badge [nzCount]="5" style="margin-right: 24px;">
          <nz-avatar nzIcon="user" [nzShape]="'square'"></nz-avatar>
        </nz-badge>
      </li>
    </ul>
   
    <nz-dropdown-menu #support="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item>Angular</li>
        <li nz-menu-item>nodeJS</li>
      </ul>
    </nz-dropdown-menu>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item>GIT操纵</li>
        <li nz-menu-item>国际化</li>
        <li nz-menu-item>拦截器</li>
        <li nz-menu-item nzDanger>mock使用</li>
      </ul>
    </nz-dropdown-menu>
  </nz-header>

  <nz-content>
      <div class="home-main">
        <div class="main-info">
          <p class="">欢迎来到Angel Os综合管理系统～～</p>
          <p>好好学习，天天向上</p>
          <button nz-button nzType="primary">进入系统</button>
        </div>
       
      </div>
      <div class="home-section">
        <div class="home-notice" nz-row [nzGutter]="15">
          <div nz-col [nzSpan]="8">
            <div class="home-icarousel">
              <nz-carousel nzAutoPlay>
                <div nz-carousel-content *ngFor="let item of latestInfo">
                  <p>{{ item.title }}</p>
                </div>
              </nz-carousel>
            </div>
  
            <div class="home-info-update">
              图表
            </div>
          </div>
  
          <div nz-col [nzSpan]="8">
            <nz-card nzTitle="项目排行榜">
              <div class="introduction">
                <div class="introduction-icon"></div>
                <ul class="introduction-info">
                  <li class="project-name">
                    Angel OS
                  </li>
                  <li class="project-process">
                    <nz-progress [nzPercent]="30" nzSize="small" [nzShowInfo]="false"></nz-progress>
                  </li>
                  <li class="clear">
                    <span class="process-value">50%</span>
                    <span class="process-link">
                      <a href="">查看项目</a>
                    </span>
                  </li>
                </ul>
        
              </div>
              <div class="introduction">
                <div class="introduction-icon"></div>
                <ul class="introduction-info">
                  <li class="project-name">
                    Demo Manage
                  </li>
                  <li class="project-process">
                    <nz-progress [nzPercent]="30" nzSize="small" [nzShowInfo]="false"></nz-progress>
                  </li>
                  <li class="clear">
                    <span class="process-value">50%</span>
                    <span class="process-link">
                      <a href="">查看项目</a>
                    </span>
                  </li>
                </ul>
              </div>
              <div class="introduction">
                <div class="introduction-icon"></div>
                <ul class="introduction-info">
                  <li class="project-name">
                    Node Blog
                  </li>
                  <li class="project-process">
                    <nz-progress [nzPercent]="30" nzSize="small" [nzShowInfo]="false"></nz-progress>
                  </li>
                  <li class="clear">
                    <span class="process-value">50%</span>
                    <span class="process-link">
                      <a href="">查看项目</a>
                    </span>
                  </li>
                </ul>
              </div>
              <div class="introduction">
                <div class="introduction-icon"></div>
                <ul class="introduction-info">
                  <li class="project-name">
                    Vue UI Pro
                  </li>
                  <li class="project-process">
                    <nz-progress [nzPercent]="30" nzSize="small" [nzShowInfo]="false"></nz-progress>
                  </li>
                  <li class="clear">
                    <span class="process-value">50%</span>
                    <span class="process-link">
                      <a href="">查看项目</a>
                    </span>
                  </li>
                </ul>
              </div>
    
            </nz-card>
          </div>
  
          <div nz-col [nzSpan]="8">
            <nz-card nzTitle="学习教程">
  
              <nz-list nzItemLayout="horizontal">
                <nz-list-item *ngFor="let item of data">
                  <nz-list-item-meta
                    nzDescription="Ant Design, a design language for background "
                  >
                    <nz-list-item-meta-title>
                      <a href="https://ng.ant.design">{{ item }}</a>
                    </nz-list-item-meta-title>
                  </nz-list-item-meta>
                </nz-list-item>
              </nz-list>
  
            </nz-card>
          </div>
  
        </div>
  
        <div nz-row [nzGutter]="15">
  
          <div nz-col [nzSpan]="12">
            <nz-card nzTitle="小谢练习册">
              <nz-empty></nz-empty>
            </nz-card>
          </div>
  
          <div nz-col [nzSpan]="12">
            <nz-card nzTitle="小舒练习册">
              <nz-empty></nz-empty>
            </nz-card>
          </div>
  
        </div>
      </div>
      
      

    <!-- <div class="header"></div>
      <section id="angel-home"> 
        <div class="content inner-content">
          <h1 class="title">Angel Os</h1>
          <p>综合管理平台</p>
          <hr>
          <p>欢迎来到Angel Os综合管理系统～</p>
          <ul>
            <li> <span (click)="onSystem($event)">系统主页</span></li>
            <li> <span>学习资源</span></li>
            <li><span>技术支持</span></li>
            <li> <span href="#">关于我</span></li>
          </ul>
        </div>
      </section> -->
  </nz-content>
</nz-layout>

