<nz-layout class="layout">
  <nz-content>
      <div class="home-main">
        <div class="main-info">
          <p>欢迎来到Angel Os综合管理系统～～</p>
          <p>好好学习，天天向上</p>
        </div>
      </div>
      <div nz-row [nzGutter]="[15, 15]">
        <div nz-col [nzSpan]="16">
          <nz-card>
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-card>
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
          </nz-card>
        </div>
      </div>

      <div nz-row [nzGutter]="[15, 15]">
        <div nz-col [nzSpan]="12">
          <nz-card nzTitle="小谢练习册">
            <nz-empty></nz-empty>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-card nzTitle="小舒练习册">
            <nz-empty></nz-empty>
          </nz-card>
        </div>
      </div>

      <!-- <div class="home-section">
        <div class="home-notice" nz-row [nzGutter]="15">
          <div nz-col [nzSpan]="8">
            <div class="home-icarousel">
              <nz-carousel nzAutoPlay>
                <div nz-carousel-content *ngFor="let item of latestInfo">
                  <p>{{ item.title }}</p>
                </div>
              </nz-carousel>
            </div>
  
            <div class="home-info-update">
              图表
            </div>
          </div>
  
      
          <div nz-col [nzSpan]="8">
            <nz-card nzTitle="学习教程">
  
              <nz-list nzItemLayout="horizontal">
                <nz-list-item *ngFor="let item of data">
                  <nz-list-item-meta
                    nzDescription="Ant Design, a design language for background "
                  >
                    <nz-list-item-meta-title>
                      <a href="https://ng.ant.design">{{ item }}</a>
                    </nz-list-item-meta-title>
                  </nz-list-item-meta>
                </nz-list-item>
              </nz-list>
  
            </nz-card>
          </div>

          <div nz-col [nzSpan]="8">
            <nz-card nzTitle="项目排行榜">
              <div class="introduction">
                <div class="introduction-icon"></div>
                <ul class="introduction-info">
                  <li class="project-name">
                    Angel OS
                  </li>
                  <li class="project-process">
                    <nz-progress [nzPercent]="30" nzSize="small" [nzShowInfo]="false"></nz-progress>
                  </li>
                  <li class="clear">
                    <span class="process-value">50%</span>
                    <span class="process-link">
                      <a href="">查看项目</a>
                    </span>
                  </li>
                </ul>
        
              </div>
              <div class="introduction">
                <div class="introduction-icon"></div>
                <ul class="introduction-info">
                  <li class="project-name">
                    Demo Manage
                  </li>
                  <li class="project-process">
                    <nz-progress [nzPercent]="30" nzSize="small" [nzShowInfo]="false"></nz-progress>
                  </li>
                  <li class="clear">
                    <span class="process-value">50%</span>
                    <span class="process-link">
                      <a href="">查看项目</a>
                    </span>
                  </li>
                </ul>
              </div>
              <div class="introduction">
                <div class="introduction-icon"></div>
                <ul class="introduction-info">
                  <li class="project-name">
                    Node Blog
                  </li>
                  <li class="project-process">
                    <nz-progress [nzPercent]="30" nzSize="small" [nzShowInfo]="false"></nz-progress>
                  </li>
                  <li class="clear">
                    <span class="process-value">50%</span>
                    <span class="process-link">
                      <a href="">查看项目</a>
                    </span>
                  </li>
                </ul>
              </div>
              <div class="introduction">
                <div class="introduction-icon"></div>
                <ul class="introduction-info">
                  <li class="project-name">
                    Vue UI Pro
                  </li>
                  <li class="project-process">
                    <nz-progress [nzPercent]="30" nzSize="small" [nzShowInfo]="false"></nz-progress>
                  </li>
                  <li class="clear">
                    <span class="process-value">50%</span>
                    <span class="process-link">
                      <a href="">查看项目</a>
                    </span>
                  </li>
                </ul>
              </div>
    
            </nz-card>
          </div>
  
        </div>
  
        <div nz-row [nzGutter]="15">
  
          <div nz-col [nzSpan]="12">
            <nz-card nzTitle="小谢练习册">
              <nz-empty></nz-empty>
            </nz-card>
          </div>
  
          <div nz-col [nzSpan]="12">
            <nz-card nzTitle="小舒练习册">
              <nz-empty></nz-empty>
            </nz-card>
          </div>
  
        </div>
      </div> -->
  </nz-content>
</nz-layout>

