<div class="angel-login">
  <h2>登录</h2>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="onLogin()">
    <nz-form-item>
      <nz-form-control nzErrorTip="请输入用户名">
        <nz-input-group>
          <input type="text" nz-input formControlName="userName" placeholder="用户名" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="请输入密码">
        <nz-input-group>
          <input type="password" nz-input formControlName="password" placeholder="密码" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
   
    <button 
      nz-button 
      class="login-form-button login-form-margin" 
      [nzType]="'primary'"
    >
      登录
    </button>
  </form>
  <div>用户名：随便输</div>
  <div>{{i18n.get('login_desc')}}</div>
  <!-- <os-toggle-i18n></os-toggle-i18n> -->
  
</div>
